<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Task3">
    <test name="TestCaseQADemoAlerts">
        <classes>
            <class name="org.task3_1.testClasses.TestCaseQADemoAlerts"/>
        </classes>
    </test>
    <test name="TestCaseQADemoIFrame">
        <classes>
            <class name="org.task3_1.testClasses.TestCaseQADemoIFrame"/>
        </classes>
    </test>
    <test name="TestCaseQADemoTables">
        <classes>
            <class name="org.task3_1.testClasses.TestCaseQADemoTables"/>
        </classes>
    </test>
    <test name="TestCaseQADemoHandles">
        <classes>
            <class name="org.task3_1.testClasses.TestCaseQADemoWindows"/>
        </classes>
    </test>
</suite>